{% extends 'app/base.html' %}

{% block content %}
    <h1 class="mb-5">コメント</h1>
    {% for comment in Comment_list %}
        {{ comment.text | linebreaksbr }} <span class="text-muted">{{ comment.created_at }}</span>

        <!-- コメント一覧と、コメントフォーム -->
        <div class="mt-3 ml-5">
            <!-- そのメインコメントへのコメントフォーム -->
            <form action="{% url 'bbs:comment_create' diary.pk %}" method="POST">
                {{ form }}
                <button type="submit">送信</button>
                {% csrf_token %}
            </form>

            <!-- そのメインコメントに紐づいたサブコメントを取り出す -->
            {% for comment in comment.subcomment_set.all %}
                {{ comment.text }} <span class="text-muted">{{ comment.created_at }}</span><br>
            {% endfor %}
        </div><!-- コメント一覧・コメントフォーム終わり -->

        <hr>
    {% endfor %}
{% endblock %}