{% extends './base.html' %}
{% block content %}
    <h1>Original BBS</h1>
    <p>{{ message }}</p>
	{% if searchForm %}
	    <form action='{% url "bbs:index" %}' method='get'>
	        <div class='form-group'>
	            {{ searchForm }}
	            <input type="submit" value="OK" />
	            <a href="{% url 'bbs:index' %}" class='btn btn-light'>clear</a>
	        </div>
	    </form>
	{% endif %}
    <table  class='table table-striped table-hover'>
        <tr><th>content</th><th>user</th><th>detail</th><th>good</th><th>favorite</th></tr>
        {% for article in articles %}
            <tr>
                <td>{{ article.content }}</td>
                <td>{{ article.user_name }}</td>
                <td>
                    <a href='{% url "bbs:detail" article.id %}' class='btn btn-outline-primary'>詳細</a>
                </td>
                <td>
                    <a href='{% url "bbs:good" article.id %}' class='btn btn-outline-primary'>{{ article.good_count }} いいね</a>
                </td>
                {% if article.favorite %}
                <td>
                    <a href='{% url "bbs:favo" article.id %}' class='btn btn-primary'>_______★_______</a>
                </td>
                {% else %}
                <td>
                    <a href='{% url "bbs:favo" article.id %}' class='btn btn-outline-primary'>お気に入り登録</a>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    <div>
        <a href='{% url "bbs:new" %}' class="btn btn-primary">新規</a>
    </div>
{% endblock %}