{% extends './base.html' %}
{% block content %}
    <h1>original bbs</h1>
    <p>{{ message }}</p>
	{% if searchForm %}
	    <form action='{% url "bbs:index" %}' method='get'>
	        <div class='form-group'>
	            {{ searchForm }}
	            <input type="submit" value="OK" />
	            <a href="{% url 'bbs:index' %}">クリア</a>
	        </div>
	    </form>
	{% endif %}
    <table  class='table table-striped table-hover'>
        {% for article in articles %}
            <tr>
                <td>{{ article.content }}</td>
                <td>{{ article.user_name }}</td>
                <td>
                    <a href='{% url "bbs:detail" article.id %}' class='btn btn-outline-primary'>詳細</a>
                </td>
                <td>
                    <a href='{% url "bbs:good" article.id %}' class='btn btn-outline-primary'>いいね　{{ article.good_count }}</a>
<!--                    <a href='{% url "bbs:good" article.pk %}' class='btn btn-outline-primary'>-->
<!--                    <form action="" method="POST">-->
<!--                    <button type="SUBMIT">-->
<!--                        {{ article.good_count }} いいね-->
<!--                        {% csrf_token %}-->
<!--                    </button>-->
<!--                    </form>-->
<!--                    </a>-->
                </td>
            </tr>
        {% endfor %}
    </table>
    <div>
        <a href='{% url "bbs:new" %}'>新規</a>
    </div>
{% endblock %}